* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
}

header {
    background: #111827;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    gap: 40px;
}

.hero-text {
    max-width: 600px;
}

.hero-text h3 {
    color: #2563eb;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero-text h2 {
    margin-bottom: 20px;
}

.hero-text p {
    line-height: 1.7;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

section {
    padding: 60px 8%;
    text-align: center;
}

section h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

section p {
    line-height: 1.7;
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
}

.project-card {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
}

#contact p {
    margin: 15px;
}

#contact i {
    margin-right: 8px;
}

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 30px;
}

.social {
    margin-bottom: 15px;
}

.social a {
    color: white;
    font-size: 25px;
    margin: 0 10px;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-image img {
        width: 280px;
        height: 330px;
    }
}